.backgroundEffect{
    justify-content: center;
    align-items: center;

}

.profileSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.wrapper{
    outline: 1px solid #cccccc;
}

.ProfileInformation{
    
    background-color: white;
    margin: 1em;
    padding: 0.5em;
    border-radius: 10px;
    flex: 1;
    
}

.profileToolBar{
    display: flex;
    flex-direction: row;
    width: 100%;
    outline: 1px solid #cccccc;
}

.leftSideBar{
    display: flex;
    flex: 1;
    justify-content: left;
    align-items: center;
    padding-left: 3em;
}

.editIcon{

    width: 22px;
    height: auto;
}

.leftSideBar > .profileTitle{
    justify-content: center;
    align-items: center;

    flex: 1;
}

.leftSideBar > .editIcon{
    justify-content: center;
    align-items: center;
    flex: 1;
}

.leftSideBar > .editIcon > img{
    width: 100%;
    height: 100%;
}

.rightSideBar{
    display: flex;
    flex: 1;
    justify-content: right;
    align-items: center;
    padding-right: 1em;
}




.standardLayout{

    padding: 1em;
}

.standardLayout > h3{
    display: block;
    font-size: 1.17em;
    margin-left: .25em;
    margin-right: 0em;

    font-weight: bold;
}

input { 
    border-color:#cccccc; 
    padding: 1px; 
    font-size:19px; 
    text-align:left;
    border-width:3px; 
    border-radius:19px;
    width: fit-content;
    height: 32px;
    text-indent: .2em; 
    border-style:double; 
    text-shadow:0px 0px 0px rgba(42,42,42,.75); 
    box-shadow: 0px 0px 6px 0px rgba(42,42,42,.75);  
}

input:focus { outline:none; }


.leftSidebar{
    background-color: white;
    margin: 1em;
    padding: 0.25em;
    font-weight: 400;
    font-size: 1em;
    line-height: 23px;
    border-radius: 10px;
    cursor:pointer;
}

.Collapsible{
    background-color: #d9d9d9;
    margin: 1em;
    padding: 0.25em;
    font-weight: 400;
    font-size: 1em;
    line-height: 23px;
    border-radius: 10px;
    cursor:pointer;
}

.reqInfo{
    background-color: #d9d9d9;
    margin: 1em;
    padding: 0.1em;
    border-radius: 10px;

}


.reqInfoWrapper{
    display:flex;
    flex-wrap: wrap;
    border-top: solid 1px black;
}

.firstName{
    flex: 1;
    width: fit-content;
}

.lastName{
    flex: 1;
    width: fit-content;
}

.emailDiv{
    flex: 1;
    width: fit-content;
}

.deliveryLocation{
    flex: 1;
    width: fit-content;
}

.addInfo{
    background-color: #d9d9d9;
    margin: 1em;
    padding: 0.1em;
    font-weight: 400;
    font-size: 1em;
    line-height: 23px;
    border-radius: 10px;
    cursor:pointer;

}

.addInfoWrapper{
    flex-wrap: wrap;
    border-top: solid 1px black;
    
}

.countryPhone{
    display: flex;
    
}

.countryCode{
    flex: 1;
    justify-items: center;
    align-items: center;
    max-width: fit-content;
}

.countryCode > .standardLayout{
    width: fit-content;
    height: auto;
}

.countryCode > h4{
    margin-bottom: .5em;
}

.phoneNumber{
    flex: 1;
    width: fit-content;

}

.billInfo{
    background-color: #d9d9d9;
    margin: 1em;
    padding: 0.1em;
    font-weight: 400;
    font-size: 1em;
    line-height: 23px;
    border-radius: 10px;
    cursor:pointer;

}

.billInfoWrapper{
    display:flex;
    flex-wrap: wrap;
    border-top: solid 1px black;
    
}

.streetAddress{
    flex: 1;
}

.city{
    flex: 1;


}

.province{
    flex: 1;


}

.postal{
    flex: 1;

}

.country{
    flex: 1;

}


#myButton {
	box-shadow: 0px 0px 0px 2px #ffb803;
	background:linear-gradient(to bottom, #a87f2d 5%, #ffb803 100%);
	background-color:#a87f2d;
	border-radius:10px;
	border:1px solid #debf71;
	display:inline-block;
	cursor:pointer;
	color:#003345;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fadd9b;

}
#myButton:hover {
	background:linear-gradient(to bottom, #ffb803 5%, #a87f2d 100%);
	background-color:#ffb803;
}
#myButton:active {
	position:relative;
	top:1px;
}

