

#reqFontSymb{

    color: red;
    margin:0;

}

#reqFont{
    margin:0;
    font-size: 20px;
    letter-spacing: 0px;
    word-spacing: 0px;
    color: #000000;
    font-weight: 400;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: italic;
    font-variant: normal;
    text-transform: none;

}

.myButton {
	box-shadow: 0px 0px 0px 2px #ffb803;
	background:linear-gradient(to bottom, #a87f2d 5%, #ffb803 100%);
	background-color:#a87f2d;
	border-radius:10px;
	border:1px solid #debf71;
	display:inline-block;
	cursor:pointer;
	color:#003345;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fadd9b;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffb803 5%, #a87f2d 100%);
	background-color:#ffb803;
}
.myButton:active {
	position:relative;
	top:1px;
}

