.AdminPage {
    font-family: 'Unna', serif;
    font-weight: 400;
}

.adminMainBody {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "restaurants restaurantInfo";
    height: 100vh;
}

.restaurants {
    grid-area: restaurants;
    background: #FCFCFC;
    margin: 1em;
}

.restaurantsList ul {
    list-style: none;
    color: #000000;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    height: 50vh;
}

.restaurantSection {
    grid-area: restaurantInfo;
    background: #FCFCFC;
    margin: 1em;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        "adminRestaurantBanner"
        "menuItems"
        "menuButtons";
    height: 100vh;
}

.menuItems {
    grid-area: menuItems;
}

.menuButtons {
    grid-area: menuButtons;
    border-top: 1px solid #B4B2AF;
}

.adminRestaurantBanner {
    padding: 2em;
    grid-area: adminRestaurantBanner;
    background-color: #FCFCFC;
    display: grid;
    grid-template-areas:
        "firstline buttons"
        "secondline buttons"
        "thirdline buttons";
    color: #000000;
    border-bottom: 1px solid #B4B2AF;
}

.adminRestaurantBanner * {
    margin: 0;
}

.restaurant-name{
    font-weight: bold;
    font-size: 1.25em;
}

.restaurantImage {
    grid-area: image;
    height: 150px;
    width: 150px;
    align-items: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.restaurantButtons {
    grid-area: buttons;
    top: 50%;
}

.restaurantButtons form {
    display: flex;
    flex-direction: column;
    float: right;
}

.menuItemForm {
    float: right;
}

.menuButton {
    border-radius: 10px;
    margin: 1em;
    padding: 8px;
    background-color: #3A6179;
    color: white;
    font-size: 1em;
}

.restaurantButton {
    background-color: transparent;
    border: none;
    font-size: 1.25em;
    display: flex;
    align-self: end;
    margin: 10px;
}

.menuSearchBar::placeholder {
    font-family: 'Unna';
    font-weight: 400;
    font-size: 1.5em;
    color: #D0D0D0;
    padding: 1em;
}

.restaurantInfo {
    font-weight: 200;
}

.openStatus {
    color: #C3EC99;
}

.firstLine {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    grid-area: firstline;
    display: flex;
    grid-column-gap: 20px;
    align-items: center;
}

.secondLine {
    grid-area: secondline;
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
}

.thirdLine {
    grid-area: thirdline;
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}
.restaurantListItem {
    font-weight: 500;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.restaurantHeader {
    border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    place-content: space-between;
}

#restaurantTitle {
    padding: 0px 0px 5px 15px;
    font-weight: bold;
}

.addRestoButton {
    background-color: transparent;

    width: 35px;
    height: 35px;
    margin-right: 15px;
    border: none;
    color: grey;
    font-size: x-large;
    font-weight: bolder;
    align-self: center;
}

.buttonText {
    margin-right: 1em;
    cursor: pointer;
}

/*Mobile*/
@media (max-width:425px) {
    .adminMainBody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "restaurants"
            "restaurantInfo";
        height: 100vh;
        width: 100%;
    }

    .restaurants, .restaurantSection, .adminRestaurantBanner, .menuItems, .menuButtons {
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    .restaurantSection {
        border-top: 1px solid grey;
    }

    .restaurantsList {
        height: 20vh;
    }

    .restaurantsList ul {
        height: 100%;
        overflow-y: scroll;
    }

    .adminRestaurantBanner {
        grid-template-areas:
            "firstline"
            "secondline"
            "thirdline"
            "buttons";
    }

    .restaurantButtons {
        width: 100vw;
        margin: 0;
    }

    .firstLine, .secondLine, .thirdLine {
        line-height: 2em;
        font-size: 1.25em;
        margin-left: 1em;
    }

    .restaurantSection {
        grid-template-rows: 1fr 8fr 1fr;
    }
}