header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    flex-wrap: nowrap;
    width: 100%;
    height: 56px;
    background-color: #033453;
    border-bottom: solid gray 1px;
}

h1{
    flex: 0 1 auto;
    width: fit-content;
    white-space: nowrap;
    padding-left: 10px;
}

h1 a{
    font-family: 'Staatliches', cursive !important;
    color: #FFB703 !important;
    text-decoration: none;
}

.menu-header{
    display: flex;
width: 100%;
justify-content: space-evenly;
opacity: 0.95;
position: relative;
}

.menu-header li{
    text-decoration: none;
    padding-left: 2%;
    list-style: none;
}

.menu-header li a{
    color: white;
    text-decoration: none;
}

.locationInfo{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 40px;
  background-color: #033453;
}

.locationInfo p{
  margin: 0;
  padding-left: 10px;
  color: white;
}