.header {
    background-color: #033453;
    margin-bottom: 2px;
    padding: 20px 0;
}

h1 {
    margin: 0;
    margin-right: auto;
    margin-right: min(100px);
    float: left;
    color: white;
    font-size: 50px;
}

.menu {
    text-align: right;
    margin-top: 0;
}

.menu-header{
    display: flex;
width: 100%;
justify-content: space-evenly;
opacity: 0.95;
position: relative;
}

.menu-header li{
    text-decoration: none;
    padding-left: 2%;
}

.menu-header li a{
    color: white;
    text-decoration: none;
}