.home {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.category img {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

#categories {
    align-self: center;
    margin: auto;
}

#categories .category {
    padding: 20px;
}

#search-box{
    justify-content: center;
    width: 500px;
}


.restaurants {
   display: inline-block;
   text-align: left;
   width: 500px;
   
}

.logo {
    float: left
}

.logo img {
    border-radius: 50%;
    width: 150px;
}

.info {
    
}