.home {
    display: grid;
    grid-template-areas:
        "splash splash splash"
        "categories list list";
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 30px;
    padding-right:30px;
    padding-top: 20px;
    max-width: 1400px;
    min-width: 80vw;
    margin-left:auto;
    margin-right:auto;
}
@media (max-width: 900px) {
    .home{
        grid-template-areas:
        "splash"
        "categories"
        "list";
        grid-template-columns: 1fr;
    }
    .HomePage h2{
        font-size: 1em;
    }
}
body{
    background-color: #E5E5E5;
}


.categories{
    grid-area: categories;
}
.SplashScreen{
    position: relative;
    grid-area: splash;
    height: 100%;
    width: 100%;
    justify-self: center;
}
.SplashScreen img{
    height: 300px;
    object-fit: fill;
    width: 100%;
}
.restaurantList{
    grid-area: list;
}
.restaurantList img{
    height: 100px;
    object-fit: cover;
}
#orderNow{
    position: absolute;
    right:0px;
    font-size: 24px;
    bottom: 4px;
    color: white;
    background-color: #033453;
    padding-left: 10px;
    padding-right:10px;
}
.SearchBar{
    width: 100%;
    overflow:hidden;
    border-radius: 5px;
}
.SearchBar input{
    background-color: #F6F6F3;
    padding-left:10px;
}
.list{
    background-color: #f0f1f1;
    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
}
.restaurants{
    display: grid;
    grid-template-areas:
        "logo name . . rating"
        "logo address . . rating";
}
.restaurants .logo{
    grid-area: logo;
}
.restaurants .name{
    grid-area: name;
}
.restaurants .rating{
    grid-area: rating;
    background-color: #033453;
    color:white;
    width: 60px;
    height: 60px;
    display: flex;
    align-self: center;
}
.restaurants .rating p{
    margin-left:auto;
    margin-right:auto;
    align-self:center;
}
.restaurants .address{
    grid-area: address;
}