.Login form{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.Login .submitButton{
    background-color: #033453;
    height: 45px;
    width: 75px;
    color: #ffb703;
    margin-top: 10px;
    font-family: 'Staatliches', cursive !important;
    font-size: 1.5em;
}
.Login input {
    background: #d9d9d9;
    height: 30px;
    border: 1px solid #ccc;
    width: 100%;
}