.orderSide{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    background: white;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.orderHistoryToolBar{
    outline: 1px solid #cccccc;

}

#OrderHistory{
    display: flex;
    margin: 0 auto;
    justify-content: center;

}

.orderWrapper{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    outline: 1px solid #cccccc;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    border-radius: 10px; 
}

.orderHeader{
    display: flex;
    justify-content: left;
    background: #cccccc;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 

}

.orderHeader > div{
    display: flex;
    background: #cccccc;
    width: 100%;
    justify-content: space-between;

}

.orderDetailsWrapper{

    justify-content: center;
    padding: 1em;

}

.outputComponent{
    display: flex;
    justify-content: center;
    padding: 1em;

}

.buttonWrapper{
    display: flex;
    justify-content: space-evenly;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    
}

.orderDetails{

    display: flex;

}

.isActive{
    display: flex;

    justify-content: right;
}

.restaurantInfo{
    justify-content: left;
    display: flex;

}

.orderWrapper#false{
    opacity: 0.6;
}

.backArrow{
    flex: 1;
    align-items: center;
    justify-content: left;
}
