/* Popup style */
.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    
  }
  .CenteringPopup{
    display:flex;
    height:100%;
    align-items: center;
  }
  .popup-container {
    width: 50%;
    margin: 0 auto;
    height: fit-content;
    max-height: 70%;
    background: #fff;
    padding: 1em;
    border: 1px solid #999;
    overflow-y: auto;
  }
  
  .close-icon {
    cursor: pointer;
    position: relative;
    background:transparent;
    text-align: center;
    float: right;
  }

/*Mobile*/
@media (max-width:425px) {
  .popup-container {
    width: 80%;
  }
}