.RegisterPage .main-container {
    display:flex;
    margin-top: 30px;
    justify-content: center;
}

.RegisterPage .box {
    display:flex;
    flex-direction: column;
    min-height: 500px;
    min-width: 70vw;
    max-width: 75vw;
    padding: 25px;
    border: 8px solid #033453;
    background-color: rgba(255, 255, 255, .8);
}

.RegisterPage form {
    display: grid;
    grid-template-areas:
        "fName lName"
        "email email"
        "password password"
        "confirm confirm"
        "submit submit";
    column-gap: 15px;
    row-gap: 10px;
}

.RegisterPage .fName{
    grid-area:fName;
}
.RegisterPage .lName{
    grid-area:lName;
}
.RegisterPage .email{
    grid-area:email;
}
.RegisterPage .pass1{
    grid-area:password;
    display:grid;
    grid-template-areas:
    "PasswordText infoAboutPassword"
    "passwordInput passwordInput";
    justify-content: space-between;
}
.RegisterPage #passwordText{
    grid-area: PasswordText;
}
.RegisterPage #requirementsForPass{
    grid-area: infoAboutPassword;
    margin:0;
    color: #FFB703;
    font-family: 'Staatliches', cursive !important;
}
.RegisterPage #password{
    grid-area: passwordInput;
}
.RegisterPage .pass2{
    grid-area:confirm;
}
.RegisterPage .submitbtn{
    margin-top: 30px;
    grid-area:submit;
    justify-self: center;
}
.RegisterPage .title{
    grid-area: signup;
}

.RegisterPage h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Unna', serif;
    font-weight: 700;
    font-size: 2em;
    line-height: 38px;
    color: #000000;
    text-align: center;
}

.RegisterPage #register-button {
    width: 185px;
    height: 40px;
    color: #FFB703 !important;
    font-size: 1.5em;
    background: #033453;
    margin: 1em;
    font-family: 'Staatliches', cursive !important;
}

.RegisterPage input {
    background: #d9d9d9;
    height: 30px;
    border: 1px solid #ccc;
    width: 100%;
}

.RegisterPage label {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000;
}

@media (max-width: 900px) {
    .RegisterPage label{
    font-size: 15px;
}
.RegisterPage form {
    display: grid;
    grid-template-areas:
        "fName fName"
        "lName lName"
        "email email"
        "password password"
        "confirm confirm"
        "submit submit";
    column-gap: 15px;
    row-gap: 10px;
}
}