.RestaurantPage {
    font-family: 'Unna', serif;
    font-weight: 400;
}

.RestaurantBanner {   
    background-color: #033453;
    padding: 1em;
    border-top: 1px solid gray;
    display: grid;
    grid-template-areas:
        "firstline search"
        "secondline search"
        "thirdline search";
    max-height: 180px;
    color: #FFFFFF;
}

.RestaurantBanner * {
    margin: 0;
}

.restaurantImage {
    grid-area: image;
    height: 150px;
    width: 150px;
    align-items: center;
    border-radius: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.menuSearchBar {
    grid-area: search;
    width: 30em;
    height: 3em;
    position: relative;
    top: 80%;
    float: right;
    margin-right: 5em;
    background: rgba(255, 255, 255, 0.22);
    border: 1px solid #000000;
    border-radius: 10px;

}

.menuSearchBar::placeholder {
    font-family: 'Unna';
    font-weight: 400;
    font-size: 1.5em;
    color: #D0D0D0;
    padding: 1em;
}

.restaurantInfo {
    font-weight: 200;
}

.openStatus {
    color: #C3EC99;
}

.firstLine {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    grid-area: firstline;
    display: flex;
    grid-column-gap: 20px;
    align-items: center;
}

.secondLine {
    grid-area: secondline;
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
}

.thirdLine {
    grid-area: thirdline;
    display: flex;
    grid-column-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.mainContentBody {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "categories menu addItem";
    height: 100vh;
}

.menuCategories {
    grid-area: categories;
    background: #FCFCFC;
    margin: 1em;
}

.categoriesList {
    list-style: none;
    font-family: 'Unna';
    font-weight: 500;
    font-size: 24px;
    color: #000000;
}

.restaurantMenu {
    grid-area: menu;
    background: #FCFCFC;
    margin: 1em;
}

.addItem {
    grid-area: addItem;
    background: #FCFCFC;
    margin: 1em;
}

.menuCategories h2{
    font-size: 40px
}

.category-item:hover {
    background-color: #033453;
    color: white;
    cursor:pointer;
}

.category-item {
    font-size: 30px;
}

.menu-list{
    list-style: none;
}

.menu-list .item-name {
    font-size: 20px;
    font-weight: bold;
}

.menu-list .menu-item:hover {
    color: white;
    cursor: pointer;
    background-color: #033453;
}

.menu-list .menu-item{
    margin: 20px;
    padding: 30px;
}

.add-to-cart {
    float: right;
}

.cart-item {
    list-style: none;
}
