.Spinner .loadingSpinnerContainer{
    position:relative;
    height: 100%;
    width:100%;
}

.Spinner img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}