<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
   <body>

      <section class="section">
         <div class="container">
            <h1 class="title">Login</h1>
            <div class="box">
               <form action="/login" method="post">
                  <div class="field">
                     <label class="label">Email(ex: zpochet2@apple.com)</label>
                     <div class="control">
                        <input class="input" type="email" placeholder="e.g. zpochet2@apple.com" name="email" id="email">
                     </div>
                  </div>
                  
                  <div class="field">
                     <label class="label">Password</label>
                     <div class="control">
                        <input class="input" type="password" name="password" id="password" placeholder="mypassword">
                     </div>
                  </div>
                  <div class="control">
                     <button type="submit" class="button is-link">Login</button>
                  </div>
                  <% if (message) {%>
                    <p id="msg2" class="help is-danger">
                        <%= message %>
                    </p>
                  <%}%>  
               </form>
            </div>
         </div>
      </section>
   </body>
</html>